em{
    color: red;
}
h1{
    color: yellow;
}
body{
    background-color: turquoise;
}
.classA{
    background-color: green;
}
.classB{
    color: green;
    font-size: 100px;
}
.classB{
    color: red;
}
.b{
    color: red;
}
.a{
    font-size: 26px;
    color:blue;
}