.px1{
    font-size: 1rem;
}
.px2{
    font-size: 2rem;
}
.px3{
    font-size: 3rem;
}
.px4{
    font-size: 4rem;
}
.px5{
    font-size: 5rem;
}
.mycolor{
    color: rebeccapurple;
    background-color: palegoldenrod;
    font-size: 3.5rem;
}
.mydiv{
    background-color: navy;
    color:green;
}

.innerdiv{
    /*border-top-color: red;*/
    background-color: black;
    color: white;
    border:20px dashed red;
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 100px;
}
.outerdiv{
    background-color: blue;
}
.box{
    max-width: 50%;
    background-color: black;
}
.my-ul{
    list-style-type: lower-roman;
}
.my-ul2{
    list-style-type: decimal-leading-zero;
}

@media(max-width:768px){

    .my_title{
        font-size: 20px;
        color: red;
    }
    
}
@media(min-width:768px){

    .my_title{
        font-size: 60px;
    }
    
}