.px1{
    font-size: 1rem;
}
.px2{
    font-size: 2rem;
}
.px3{
    font-size: 3rem;
}
.px4{
    font-size: 4rem;
}
.px5{
    font-size: 5rem;
}
.mycolor{
    color: rebeccapurple;
    background-color: palegoldenrod
}
.mydiv{
    background-color: navy
}